root = true

[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
max_line_length = 120

[*.{ts,js,cjs,mjs,json}]
indent_size = 4

[*.{sh}]
indent_size = 4

[*.{html,md,css}]
indent_size = 4

[*.yml]
indent_size = 2
