.DS_Store
node_modules
.nyc_output
*.log
.awcache
.rpt2_cache
.nx
.pnpm-store/

# Cache file for ESLint.
.eslintcache

# Rollup cache
.rollup.cache

# IDEA files
.idea

# VS code settings and workspace project
.vscode/*
!.vscode/extensions.json
tsurlfilter.code-workspace
Makefile

# do not expose npmjs token
.npmrc
